<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Đoán giá nhà dựa trên trang chợ tốt</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<!--input type="text" name="room_type" id="room type" placeholder="1] Private Room 2] Entire Room 3] shared Room" required="required"  /-->
            <!--label for="room type">Type of room</label-->
            <select id="Quan" name="Quan" selected="Quan" >
              <option value="1">Quận 1</option>
              <option value="2">Quận 2</option>
              <option value="3">Quận 3</option>
			  <option value="4">Quận 4</option>
              <option value="5">Quận 5</option>
              <option value="6">Quận 6</option>
			  <option value="7">Quận 7</option>
              <option value="8">Quận 8</option>
              <option value="9">Quận 9</option>
			  <option value="10">Quận 10</option>
              <option value="11">Quận 11</option>
              <option value="12">Quận 12</option>
	          <option value="13">Quận Bình Tân</option>
              <option value="14">Quận Thủ Đức</option>
              <option value="15">Quận Bình Thạnh</option>
			  <option value="16">Huyện Bình Chánh</option>
              <option value="17">Quận Tân Bình</option>
              <option value="18">Huyện Nhà Bè</option>
			  <option value="19">Quận Tân Phú</option>
              <option value="20">Quận Gò Vấp</option>
              <option value="21">Quận Phú Nhuận</option>
			  <option value="22">Huyện Hóc Môn</option>
              <option value="23">Huyện Củ Chi</option>
             </select>
			<select id="TinhTrangBDS" name="TinhTrangBDS" selected="TinhTrangBDS" >
              <option value="1">Đã bàn giao</option>
              <option value="2">Chưa bàn giao</option>
             </select>
			<select id="Loai" name="Loai" selected="Loai" >
              <option value="1">Chung cư</option>
              <option value="2">Căn hộ dịch vụ</option>
			  <option value="3">Duplex</option>
			  <option value="4">Officetel</option>
              <option value="5">Penthouse</option>
			  <option value="6">Căn hộ dịch vụ, mini</option>
			  <option value="7">Tập thể, cư xá</option>
             </select>
			<select id="TinhTrangNoiThat" name="TinhTrangNoiThat" selected="TinhTrangNoiThat" >
              <option value="1">Hoàn thiện cơ bản</option>
              <option value="2">Nội thất đầy đủ </option>
			  <option value="3">Nội thất cao cấp</option>
			  <option value="4">Bàn giao thô </option>
             </select>
			<select id="GiayTo" name="GiayTo" selected="GiayTo" >
              <option value="1">Đã có sổ </option>
              <option value="2">Đang chờ sổ </option>
			  <option value="3">Giấy tờ khác</option>
			 </select>
      
          
        <input type="text" name="number_of_review" placeholder="Diện tích" required="required"  />
        <input type="text" name="calculated_host_listings_count" placeholder="Số lượng phòng ngủ:" required="required"  />
        <input type="text" name="availability_365" placeholder="Số lượng phòng tắm" required="required"  />

        		<!--input type="text" name="interview_score" placeholder="Interview Score" required="required" /-->
        <button type="submit" class="btn btn-primary btn-block btn-large">Đoán</button>
    </form>
    
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>